?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
		id="org.jevon.cordova.parse.pushplugin"
		version="0.0.1">
	<name>cordova-parse-push</name>
	<description>Cordova Parse Push notifications plugin</description>
	
	<js-module src="www/parse-push.js" name="ParsePush">
		<clobbers target="window.parsePush" />
	</js-module>
	
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ParsePushPlugin">
			<param name="android-package" value="org.jevon.cordova.parse.pushplugin.ParsePushPlugin" />
		</feature>
		</config-file>
		
		<!-- 
		<source-file src="src/android/parse/Parse-1.3.8.jar" target-dir="libs" framework="true" />
		-->
		<source-file src="src/android/org/jevon/cordova/parse/pushplugin/ParsePushPlugin.java" target-dir="src/org/apache/cordova/core" />
	</platform>
</plugin>